<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
  <div class="user-info">
  <div class="image">
  <img src="assets/images/user.png" width="48" height="48" alt="Contact" />
  </div>
  <div class="info-container">
  <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
  <div class="email">john.doe@gmail.com</div>
  </div>
  </div>
  <!-- #User Info -->
  <!-- Menu -->
  <div class="menu">
  <ul class="list">
  <li class="header">MAIN NAVIGATION</li>
  <li class="active">
    <a [routerLink]="['/home']">
   <i class="material-icons">home</i>
    <span>Home</span>
    </a>
    </li>
    <li class="active">
    <a [routerLink]="['/home/list-contact']">
    <i class="material-icons">widgets</i>
    <span>List user</span>
    </a>
    </li>
    <li class="active">
      <a [routerLink]="['/home/add-contact']">
      <i class="material-icons">person_add_alt</i>
      <span>Add users</span>
      </a>
      </li>
    </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->

    <div class="legal text-left">
      <div class="col-md-0 col-sm-12 col-xs-12">
      </div>
      <div class="copyright-text ml-0">
      &copy;2023-2024 All Rights Reserved by Hi5.
      </div>
     </div>
    <!-- #Footer -->
    </aside>
    </section>



