.background-container {
  background-image: url('src/assets/images/image.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir l'ensemble du conteneur */
  background-position: center; /* Centre l'image dans le conteneur */
  height: 638px; /* Ajustez la hauteur selon vos besoins */
  width: 1020px;
  color: #fff; /* Couleur du texte, assurez-vous qu'elle est lisible sur l'image */
  padding: 20px; /* Espacement interne pour le contenu */
}
