.background-container {
  background-image: url('src/assets/images/image.jpg');
  background-size: cover;
  background-position: center;
  height: 638px;
  width: 1020px;
  color: #fff;
  padding: 20px;
}
