<!-- <h2>Contact List</h2>
<form class="d-flex">
  <div class="form-group">
    <label for="searchTerm">Rechercher :</label>
 <input class="form-control me-2"  type="text" class="input input_button" [(ngModel)]="contacts" type="search" placeholder="Search" aria-label="Search">
  <button (click)="search()">Search</button>
  <input type="text" id="searchTerm" type="search" name="searchTerm" class="form-control" [(ngModel)]="searchTerm" (ngModelChange)="applySearchFilter()">
  <div *ngFor="let contact of filteredContacts" class="list-group-item">
    {{ contact.firstName }} {{ contact.lastName }}
  </div>

 <button class="btn btn-outline-success" type="submit">Search</button>
 <table class="table table-striped">
<td>
        <ul>
  <li *ngFor="let contact of contacts">
    {{ contact.firstName }} {{ contact.lastName }} {{ contact.phone }}
    <a [routerLink]="['/update-contact', contact.id]">Edit</a>
    <button (click)="deleteContact(contact.id)"class="btn btn-danger">Delete</button>
  </li>
</ul></td>
<a routerLink="/add-contact">Add Contact</a>
</table>
  </div>
</form>-->
<!-- contact-list.component.html -->

<div class="container mt-3">
  <h2>Contact List</h2>

  <div class="form-group">
    <label for="searchTerm">Rechercher :</label>
    <input type="text" id="searchTerm" type="search" name="searchTerm" class="form-control" [(ngModel)]="searchTerm" (ngModelChange)="applySearchFilter()">
  </div>

  <h3>Résultats de la recherche :</h3>
  <ul class="list-group">
    <li *ngFor="let contact of filteredContacts" class="list-group-item">
      {{ contact.firstName }} {{ contact.lastName }}
    </li>
  </ul>

  <h3>contact List :</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>
        <!-- Ajoutez d'autres colonnes selon vos besoins -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.phone }}</td>
        <!-- Ajoutez d'autres colonnes selon vos besoins -->
        <td>
          <a [routerLink]="['/update-contact', contact.id]">Edit</a>
          <button (click)="deleteContact(contact.id)" class="btn btn-danger">Delete</button>
          <button (click)="getContactById(contact.id)" class="btn btn-info">Détails</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

