<div class="container mt-3">
  <h2>Contact List</h2>
  <div class="form-group">
    <label for="searchTerm">Search :</label>
    <input type="text" id="searchTerm" type="search" aria-label="Search" name="searchTerm" class="form-control" [(ngModel)]="searchTerm" (ngModelChange)="applySearchFilter()">
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone</th>

        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts ">
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.phone }}</td>

        <td>
          <a [routerLink]="['/update-contact', contact.id]">Edit<i class="glyphicon glyphicon-pencil"></i></a>
          <button (click)="deleteContact(contact.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

