  <div class="body">
    <form class="form-horizontal">
    <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
    <label for="name">First Name</label >
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
    <div class="form-group">
    <div class="form-line">
    <input name="firstName" [(ngModel)]="contact.firstName" type="text" id="firstName"
    class="form-control" placeholder="Enter your first name" required #firstNameField="ngModel">
</div>
    </div>
    </div>
    </div>
    <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
    <label for="name">Last Name</label>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
    <div class="form-group">
    <div class="form-line">
    <input name="lastName" [(ngModel)]="contact.lastName" type="text" id="lastName" class="form-control" placeholder="Enter your last name" required #lastNameField="ngModel">
</div>
    </div>
    </div>
    </div>
    <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
    <label for="name">Age</label>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
    <div class="form-group">
    <div class="form-line">
    <input name="age" [(ngModel)]=" contact.age" type="text" id="age" class="form-control" placeholder="Enter your age " required #ageField="ngModel">
  </div>
    </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
    <label for="name">Phone</label >
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
    <div class="form-group">
    <div class="form-line">
    <input name="phone" [(ngModel)]="contact.phone" type="text" id="phone"
    class="form-control" placeholder="Enter your phone" required #phoneField="ngModel">
</div>
    </div>
    </div>
    </div>
    <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
    <label for="name">Mail</label>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
    <div class="form-group">
    <div class="form-line">
    <input name="mail" [(ngModel)]="contact.mail" type="text" id="mail" class="form-control" placeholder="Enter your mail" required #mailField="ngModel">
</div>
    </div>
    </div>
    </div>
    <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
    <label for="name">Address</label>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
    <div class="form-group">
    <div class="form-line">
    <input name="address" [(ngModel)]=" contact.address" type="text" id="address" class="form-control" placeholder="Enter your address" required #addressField="ngModel">
  </div>
    </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
    <label for="name">City</label>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
    <div class="form-group">
    <div class="form-line">
    <input name="city" [(ngModel)]="contact.city" type="text" id="city" class="form-control" placeholder="Enter your city" required #cityField="ngModel">
</div>
    </div>
    </div>
    </div>
    <div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
    <label for="name">Job</label>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
    <div class="form-group">
    <div class="form-line">
    <input name="job" [(ngModel)]=" contact.job" type="text" id="job" class="form-control" placeholder="Enter your job" required #jobField="ngModel">
  </div>
    </div>
    </div>
  </div>
  <div class="row clearfix">
  <div class="modal-footer">
  <button (click)="updateContact()" type="button"class="btn btn-primary m-t-15 waves-effect"><i class="glyphicon glyphicon-ok"></i>Add</button>
  <button (click)="goBack()" type="button" class="btn btn-secondary"><i class="glyphicon glyphicon-chevron-left"></i>Back</button>
  </div>
  </div>
  </form>
  </div>




