 <div class="container">

  <form class="well form-horizontal"(ngSubmit)="onSubmit()"  id="contact_form" >
<fieldset>

<!-- Form Name -->
<legend>Contact Us Today!</legend>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label">First Name</label>
<div class="col-md-4 inputGroupContainer">
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input type="text" id="firstName" placeholder="First name"name="firstName" class="form-control" [(ngModel)]="con.firstName" required>
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label" >Last Name</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input type="text" id="lastName" placeholder="Last name"name="lastName" class="form-control" [(ngModel)]="con.lastName" required>
  </div>
</div>
</div>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label">Age</label>
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <input type="text" id="age" name="age" placeholder="age" min="18" max="75" class="form-control" [(ngModel)]="con.age" required>
      </div>
    </div>
    </div>
<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label">Phone </label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
<input type="text" id="phone" name="phone" placeholder="(+216)12 345 678" class="form-control" [(ngModel)]="con.phone" required>
  </div>
</div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input type="text" id="mail" placeholder="Mail"name="mail" class="form-control" [(ngModel)]="con.mail" required>
    </div>
  </div>
  </div>
<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label">Address</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
      <input type="text" id="address" placeholder="Address"name="address" class="form-control" [(ngModel)]="con.address" required>
  </div>
</div>
</div>

<!-- Text input-->

<div class="form-group">
<label class="col-md-4 control-label">City</label>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
      <input type="text" id="city" placeholder="City"name="city" class="form-control" [(ngModel)]="con.city" required>
  </div>
</div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">Job</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
        <input type="text" id="job" placeholder="Job"name="job" class="form-control" [(ngModel)]="con.job" required>
    </div>
  </div>
  </div>

<!-- Success message -->
<div class="alert alert-success c1" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
<label class="col-md-4 control-label"></label>
<div class="col-md-4">
  <button type="submit" class="btn btn-warning" >Submit <span class="glyphicon glyphicon-send"></span></button>
</div>
</div>

</fieldset>
</form>
</div>
